/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.6;
	color: #FEE715;
	background-color: #101820;
}

/* elements */

h1,
h2,
h3,
h4 {
    text-align: center;
}

h1 {
    color: #ffffff;
    font-weight: 800;
}

h2 {
    margin-top: 2rem;
}

p {
    text-align: center;
}

/* Links
--------------------------------------------- */
a,
a:visited {
	color: #FEE715;
	text-decoration: underline;
}

a:hover,
a:focus,
a:active {
	color: #ffffff;
}

a:focus {
	outline: 1px dotted;
}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */
header {
    color: #FEE715;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home-link ion-icon {
    font-size: 3em;
    padding: 1rem;
}

header nav li {
    display: block;
    text-align: left;
}


/* Main
--------------------------------------------- */

.name {
    position: relative;
    color: #F8F8F8;
    /* Inage from https://unsplash.com/photos/brown-and-gray-skies-in-golden-hour-background-2oi3JDGB8Vo */
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;
    text-align: center;
}

#about {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    
}

.section-projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-box {
    max-width: 300px;
    background-color: #FEE715;
    padding: 1rem;
    padding-bottom: .25rem;
    border: 1px;
    border-radius: 1rem;
    margin: 1.5rem;
    display: block;
}

.rounded-image {
    border-radius: .5rem;
}



.project-box h3 {
    color: #101820;
}


/* Footer
--------------------------------------------- */
footer {
    background-color: #000000;
    margin-top: 3rem;
    padding: 2rem;
}

.footer-links {
    margin-bottom: 2rem;
    text-align: center;
}

.footer-links ion-icon {
    font-size: 3em;
    margin-left: 1rem;
    margin-right: 1rem;
}


/* components */

/* Tablet */
@media (min-width: 768px) {
    body {
        .nav ul {
            display: flex;
            justify-content: space-between;
        }

        .nav li {
            margin: 1rem;
            font-size: 1.5rem;
        }
    }

}

/* Laptop */
@media (min-width: 1024px) {

}

/* Desktop */
@media (min-width: 1440px) {

}