/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
	font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.6;
	color: #FEE715;
	background-color: #101820;
}

p {

}


/* elements */

h1,
h2,
h3,
h4 {
    text-align: center;
}

h1 {
    color: #ffffff;
    font-weight: 800;
}

p {
    text-align: center;
}

ul {
	
}

ol {
	
}

dl {
	
}

figure {
	
}

table {
	
}

/* Links
--------------------------------------------- */
a,
a:visited {
	color: #FEE715;
	text-decoration: underline;
}

a:hover,
a:focus,
a:active {
	color: #FEE715;
}

a:focus {
	outline: 1px dotted;
}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */
header {
    color: #FEE715;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home-link ion-icon {
    font-size: 3em;
    padding: 1rem;
}

nav {
}

header nav li {
    display: block;
    text-align: left;
}


/* Main
--------------------------------------------- */

.name {
    position: relative;
    color: #ffffff;
    /* Inage from https://unsplash.com/photos/brown-and-gray-skies-in-golden-hour-background-2oi3JDGB8Vo */
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;
    text-align: center;
}


.section-projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-box {
    max-width: 300px;
    background-color: #FEE715;
    padding: 1rem;
    padding-bottom: .25rem;
    border: 1px;
    border-radius: 1rem;
    margin: 1.5rem;
    display: block;
}



.project-box h3 {
    color: #101820;
}


/* Footer
--------------------------------------------- */
footer {
    margin-top: 3rem;
}

.footer-links {
    margin-bottom: 2rem;
    text-align: center;
}

.footer-links ion-icon {
    font-size: 3em;
    margin-left: 1rem;
    margin-right: 1rem;
}


/* components */



/* tablet sstyles */
@media screen and (min-width: 620px) {
    
}

/* laptop styles */
@media screen and (min-width: 960px) {

}

/* large screens */
@media screen and (min-width: 1200px) {

}