/* Typography */
body {
	font-family: sans-serif;
    padding: 1rem;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.6;
	color: #ffffff;
	background-color: #000000;
}


/* elements */
header {
    background-color: #000000;
    color: white;
    padding: 2rem;
    text-align: center;

}

nav {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

h1,
h2,
h3,
h4 {
    text-align: center;
}

p {
    text-align: center;
}


/* links */

a,
a:visited {
	color: #ffffff;
	text-decoration: underline;
}

a:hover,
a:focus,
a:active {
	color: #ffffff;
}

a:focus {
	outline: 1px dotted;
}


/* components */

div.section-products {
    display: flex;

}

article.project-box {
    background-color: rgb(58, 58, 213);
    padding: 1rem;
    border: 2px;
    border-radius: 1rem;
    margin-bottom: 2rem;
}



